.name {
    font-size: 1rem;
}

.number {
    font-size: 2rem;
}

.day {
    border: 1px solid #ccc;
    height: 10rem;
    width: 10vw;
    overflow: hidden;
    cursor: pointer;
}


.current {
    border: .25rem solid #307BFF;
}

.active {
    background: #307BFF;
    color: white;
}