<div class="col day">
    <ng-template [ngIf]="currentDay(day.date)" [ngIfElse]="notCurrent">
        <strong class="number current">{{day.num}}</strong>
        <strong class="name m-2">{{day.name}}</strong>
    </ng-template>
    <ng-template #notCurrent>
        <span class="number">{{day.num}}</span>
        <span class="name m-2">{{day.name}}</span>
    </ng-template>
    <div *ngFor="let event of day.events">
        <div class="d-flex">
            <span class="time mr-1">{{event.time}} -</span>
            <span class="name ml-1">{{event.name}}</span>
        </div>
</div>