<div class="container-fluid">
    <div class="row my-2">
        <ng-template [ngIf]="newEvent === true">
            <div class="m-3 d-flex flex-column justify-content-center align-items-start" style="width: 30rem;">
                <div class="row d-flex flex-column">
                    <label for="ename">Event name:</label>
                    <input type="text" id="ename" name="ename" [(ngModel)]="eName">
                </div>
                <div class="row d-flex flex-column">
                    <label for="time">Event Time:</label>
                    <input type="time" id="time" name="time" [(ngModel)]="eTime">
                </div>
                <div class="row d-flex align-self-center">
                    <button class="btn btn-primary" (click)="saveEvent()">Save Event</button>
                </div>
            </div>
        </ng-template>

        <div class="col-3 d-flex justify-content-center align-items-start">
            <app-month-select></app-month-select>
        </div>
        <div class="col-9 d-flex flex-column justify-content-center align-items-start">
            <div *ngFor="let week of calendar.scaleSet">
                <div class="row">
                    <div *ngFor="let day of week">
                        <app-day [day]="calendar.content[day]" (click)="addEvent(calendar.content[day])"></app-day>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
