<div class="container-fluid">
    <div class="row my-2 d-flex flex-column flex-md-row">
        <div class="col-3 d-flex flex-column justify-content-start align-items-center">
            <app-month-select></app-month-select>
            <app-schedule-date [calendar]="calendar" (emitNewEvent)="newEvent($event)" (emitDeleteEvent)="deleteEvent($event)"></app-schedule-date>
        </div>
        <div class="col-9 d-flex flex-column justify-content-center align-items-start">
            <div *ngFor="let week of calendar.scaleSet">
                <div class="row">
                    <div *ngFor="let day of week">
                        <app-day [activeDay]="activeDay" [day]="calendar.content[day]" (click)="setActiveDay(calendar.content[day])"></app-day>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 row justify-content-center">
        <a href="https://github.com/joelkperkins/google-cal" target="_blank">View on Github</a>
    </div>
</div>
